{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/login.css')}}"/>
{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

<div class="main">
  <div class="login">
    <div class="logo">
      <img class="logo-login" src="{{ asset('assets/img/logo.png') }}" alt="">
    </div>
    <div class="input">
      <form method="post">
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="email" required autofocus>
        <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

    </div>
    <div class="button">
        <input type="submit" name="Connection" value="Connexion">
    </div>
    <div class="no_user_login">
      <a href="signin.html">Vous n'avez pas de compte ?</a>
    </div>
    </form>
  </div>
</div>
{% endblock %}